# The vscode sops plugin on-the-fly-decryption creates (and usually also deletes) these. Just a safety net.
.decrypted*

# Local kustomize builds will inflate helm charts
charts

# Experimental components. Do not commit!
kbase/components/dashboard/
apps/6wu4/kimai/